<!--ABOUT ME PAGE-->
<div class="container">
    <h1><%= title %></h1>
    <hr>
    <h3>Who I Am</h3>
    <div class="picture">
        <img src="./content/images/IMG_7681.jpg" alt="Image of me">
    </div>
    <!--Brief paragraph about me-->
    <p>My name is Heba Sajid and I am in the software engineering technology program at
        Centennial College. I graduated highschool in 2020 and went to McMaster University for 1.5
        years for a bachelors of science in Environmental Science before switching to software engineering.
        My hobbies include reading, going on walks, and learning new things.
    </p>
<!--Resume-->
    <h3>Resume</h3>
    <p>Click the link below to view my resume.</p>
    <a href="./content/pdf/Heba-Resume.pdf" target="_blank">Heba Sajid Resume</a>
    
   
</div>