<!--PROJECTS PAGE-->
<div class="container">
    <h1><%= title %></h1>
    <hr>
    <h3>My Projects</h3>
    <br>
    <!--Adding project images and descriptions using img, divs, and paragraph tags-->
    <div class="images">
    <!--first project-->
    <img src="./content/images/SRS.jpeg" alt="SRS document"> 
    <h5>Software Requirements Specification | 
         Status: Ongoing
    </h5>
    <div class="paragraphs">
    <p>  This software requirements specification is a collaboration project for my Software
         Systems Design course. The project is 4 months long and requires for a group to come up with
         a software system, and create a SRS document for it, including various scenario and class based diagrams.
    </p>
</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!--second project-->
    <img src="./content/images/web-app.jpeg" alt="web-app site">
   
    <h5>Real Estate Website | Status: Completed April 2022</h5>
    <div class="paragraphs">
    <p>This project required for me to build a 4 page website for a real-estate agent of choice. The project required for the use of HTML, CSS, and utmost creativity. Creating the page layout,
        navigation links, and the website's functionality for various screen sizes was completed in this project.
    </p>
</div>
<br>
<br>
    <br>
    <br>
    <br>
    <br>
    <!--third project-->
    <img src="./content/images/dataanalysis.jpeg" alt="data-analysis project">
    <h5>Data Analysis Project | Status: Completed December 2021</h5>
    <div class="paragraphs">
  
    <p>This project was completed during my term at McMaster University while I was in the environmental science program. 
        The data analysis project was compelted for a Data Analysis course, where R programming was used to manipulate a database 
        about firearm shootings that have occurred in Toronto. The project required for the use of making graphs using R and using R studio as the integrated development environment.
    </p>
    <br>
    <br>
    <br>
</div>
    
</div>