<!--SERVICES PAGE-->
<div class="container">
    <h1><%= title %></h1>
    <hr>
    <h3>Services Provided</h3>
    <p>Services that I can provide include:</p>
    <div class="paragraphs">
        <!--Adding a services ordered list-->
        <ol>
            <li>General Programming with C# and Java.</li>
            <li>Data Analysis and Manipulation with SQL.</li>
            <li>Web Development and Design with HTML, JavaScript, and CSS.</li>
            <li>Strong Scientific Report Writing and Researching.</li>         
        </ol>
    </div>
    <!--adding and displaying images with a images1 class-->
        <div class="servicesimages">
        <img src="./content/images/c_sharp.jpeg">
        <img src="./content/images/sql.png">
        <img src="./content/images/java.png">
        <img src="./content/images/html.png">
    </div>
    <br>
    <br>
</div>